<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Shop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shop</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="4" *ngFor="let product of products">
        <ion-card>
          <img [src]="product.icon" alt="{{ product.name }} icon" /> <!-- Product Icon -->
          <ion-card-header>
            <ion-card-title>{{ product.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Price: ${{ product.price }}</p>
            <ion-button expand="full" (click)="addToCart(product)">Add to Cart</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
